.main-content {
  background-color: black;
  min-height: 100vh; /* Ensures the container takes the full viewport height */
  overflow-x: hidden; /* Hides horizontal overflow */
}
:host {
  display: block;
  background-color: black;
  min-height: 100vh;
  overflow-x: hidden;
}
