<div class="movie-card">
  <div class="movie-poster">
    <img class="poster-img" [src]="getUrl(film.poster_path)" alt="{{ film.title }}">
    <div class="overlay">
      <a [routerLink]="['/details', film.id]" class="btn detail btn-primary">Details</a>
    </div>
  </div>
  <div class="movie-details">
    <h5 class="movie-title">{{ film.title }}</h5>
    <p class="release-date">Release Date: {{ film.release_date }}</p>
    <p class="vote-average">Vote Average: {{ film.vote_average }}</p>
  </div>
</div>
