/* Custom styles for the movie cards */
.movie-card {
  width: 300px; /* Increased width */
  margin: 20px auto; /* Margin auto to center */
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Slightly darker shadow */
}
.row {
  display: flex;
  justify-content: center;
}

.poster-img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.poster-img:hover {
  transform: scale(1.05); /* Slightly smaller scale on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Slightly darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.detail {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.movie-details {
  padding: 12px;
}

.movie-title {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.release-date,
.vote-average {
  font-size: 0.9rem;
  margin-bottom: 3px;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .movie-card {
    width: 180px; /* Adjusted width for smaller screens */
  }
}
