html, body {
  background-color: #000; /* Set the background color of the entire page */
  color: #fff; /* Text color */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
/* Custom styles for Film Details */
.container {
  padding-top: 20px;
  background-color: #000; /* Netflix background color */
  color: #fff; /* Text color */
}


.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add a border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow to the image */

  /* Apply fading border */
  border: 8px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)) 1;
}

h2 {
  margin-bottom: 20px;
}

.lead {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Style for displaying badges */
.badge {
  font-size: 0.8rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  img {
    width: 100%; /* Adjust image width for smaller screens */
  }
}

/* Custom styles for NgxEditor */
.ngx-editor-toolbar {
  background-color: #8d0b0b; /* Dark background color for toolbar */
  color: #fd9700; /* Text color for toolbar icons */
}

.ngx-editor-content {
  color: #000000; /* Text color for editor content */
  background-color: #ffffff; /* Editor content background color */
}





















/*







!* Custom styles for comments section *!
.comments-container {
  background-color: #141414; !* Netflix background color *!
  color: #fff; !* Text color *!
  padding: 20px;
  border-radius: 8px;
}

.comments-heading {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #1f1f1f; !* Darker background for each comment *!
  border-radius: 8px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-name {
  font-weight: bold;
}

.comment-content {
  color: #ccc; !* Comment text color *!
}
*/
